{% extends 'DAMainBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="path_block">
        <div class="container">
            {% set slug = app.request.attributes.get('slug') %}
            <ul>
                <li class="link">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <a href="{{ path('home_page',{'_locale':app.request.attributes.get('_locale')}) }}">
                        {{ 'home' | trans({}, 'messages') }}</a>
                </li>
                <li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <a >{{ 'transport' | trans({}, 'messages') }}</a>
                </li>
                <li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <a >{{ page.title }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="page_banner_block" style="background: url('{{ media(page.bannerImage) }}') no-repeat;background-size: cover;background-position: center center;">
        <div class="container">
            <div class="content">
                <h1>{{ page.bannertitle }}</h1>
                <p>{{ page.bannerDescription }}</p>
            </div>
        </div>
    </div>

    <div class="filter_block">
        <div class="container clear">
            <ul class="carRentFilter clear">
                <li>
                    <span class="square"></span>
                    <span class="text">{{ 'all' | trans({}, 'messages') }}</span>
                </li>
            {% for type in carType %}
                <li>
                    <span class="square"></span>
                    <span class="text">{{ type | upper }}</span>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="car_rent_block">
        <div class="container clear">
            {% for item in objects %}
                <div class="car_block">
                    <div class="image_block">
                        <img src="{{ media(item.image) }}" alt="">
                    </div>
                    <div class="car_info_block">
                        <div class="car_title">
                            {{ item.name }}
                        </div>
                        <div class="properties">
                            <ul>
                                <li><img src="{{ asset('bundles/damain/images/ok.png') }}" alt="">{{ item.type }}</li>
                                <li><img src="{{ asset('bundles/damain/images/ok.png') }}" alt="">{{ 'door' | trans({door:item.door}, 'messages') }}</li>
                                <li><img src="{{ asset('bundles/damain/images/ok.png') }}" alt="">{{ 'transmission' | trans({trans:item.transmission}, 'messages') }}</li>
                                <li><img src="{{ asset('bundles/damain/images/ok.png') }}" alt="">{{ item.motor | trans({}, 'messages') }}</li>
                            </ul>
                        </div>
                        <div class="price_block clear">
                        {% for i,price in item.priceList %}
                            <div class="price clear">
                                <span class="left_block">{{ i | trans({}, 'messages')}}</span>
                                <span class="right_block">{{ price }}</span>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="send_request">
                        <button data-hovertext="{{ 'add_to_cart' | trans({}, 'messages') }}">
                            {{ 'send_request' | trans({}, 'messages') }}
                        </button>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/damain/js/transition.js') }}"></script>
    <script>
        var buttontext = $('.send_request button').text();
        $('.send_request button').hover(function () {
            var text = $(this).data('hovertext');
            $(this).text(text);
        },function(){
            $(this).text(buttontext);
        });
    </script>
{% endblock %}