{% extends 'DAMainBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="path_block">
        <div class="container">
            {% set slug = app.request.attributes.get('slug') %}
            <ul>
                <li class="link">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <a href="{{ path('home_page',{'_locale':app.request.attributes.get('_locale')}) }}">
                        {{ 'home' | trans({}, 'messages') }}</a>
                </li>
                <li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <a >{{ 'transport' | trans({}, 'messages') }}</a>
                </li>
                <li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <a >{{ page.title }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="page_banner_block" style="background: url('{{ media(page.bannerImage) }}') no-repeat;background-size: cover;background-position: center center;">
        <div class="container">
            <div class="content">
                <h1>{{ page.bannertitle }}</h1>
                <p>{{ page.bannerDescription }}</p>
            </div>
        </div>
    </div>

    <div class="filter_block">
        <form class="controls" id="Filters">
            <div class="container clear">
                <ul class="carRentFilter clear">
                    <li class="filter checkbox" id="Reset">
                        <input type="checkbox" value=".all"/>
                        <label>{{ 'all' | trans({}, 'messages') }}</label>
                    </li>
                    {% for type in carType %}
                        <li class="filter checkbox">
                            <input type="checkbox" value=".{{ type | lower }}"/>
                            <label>{{ type | upper }}</label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </form>
    </div>

    <div class="car_rent_block">
        <div class="container clear" id="Container">
            <div class="no_result cd-fail-message">
                <span>{{ 'no_result' | trans({}, 'messages') }}</span>
            </div>
            {% for item in objects %}
                <div class="car_block mix {{ item.type }}">
                    <div class="image_block">
                        <img src="{{ media(item.image) }}" alt="">
                    </div>
                    <div class="car_info_block">
                        <div class="car_title">
                            {{ item.name }}
                        </div>
                        <div class="properties">
                            <ul>
                                <li><img src="{{ asset('bundles/damain/images/ok.png') }}" alt="">{{ item.type }}</li>
                                <li><img src="{{ asset('bundles/damain/images/ok.png') }}" alt="">{{ 'door' | trans({door:item.door}, 'messages') }}</li>
                                <li><img src="{{ asset('bundles/damain/images/ok.png') }}" alt="">{{ 'transmission' | trans({trans:item.transmission}, 'messages') }}</li>
                                <li><img src="{{ asset('bundles/damain/images/ok.png') }}" alt="">{{ item.motor | trans({}, 'messages') }}</li>
                            </ul>
                        </div>
                        <div class="price_block clear">
                            {% for i,price in item.priceList %}
                                <div class="price clear">
                                    <span class="left_block">{{ i | trans({}, 'messages')}}</span>
                                    {% set price = price / change[1] %}
                                    <span class="right_block">{{  price | round(0, 'ceil') | number_format(0, '', ',') }}{{ localizedcurrency(change[0]) }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="send_request">
                        <button data-hovertext="{{ 'add_to_cart' | trans({}, 'messages') }}">
                            {{ 'send_request' | trans({}, 'messages') }}
                        </button>
                    </div>

                </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/damain/js/transition.js') }}"></script>
    <script src="{{ asset('bundles/damain/js/jquery.mixitup.min.js') }}"></script>
    <script src="{{ asset('bundles/damain/js/main.js') }}"></script>
    <script>
        var buttontext = $('.send_request button').text();
        $('.send_request button').hover(function () {
            var text = $(this).data('hovertext');
            $(this).text(text);
        },function(){
            $(this).text(buttontext);
        });
    </script>
{% endblock %}