<!DOCTYPE html>
<html ng-app="discover">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="{% block ogTitle %}{% endblock %}" />
        <meta property="og:type" content="article" />
        <meta property="og:image" content="{% block ogImage %}{% endblock %}" />
        <meta property="og:url" content="{% block ogUrl %}{% endblock %}" />
        <meta property="og:description" content="{% block ogDescription %}{% endblock %}" />
        <meta property="og:image:width" content="{% block ogWidth %}{% endblock %}" >
        <meta property="og:image:height" content="{% block ogHeight %}{% endblock %}" >
        {% block seo %}
        <meta name="description" content="">
        <meta name="keywords" content="">
        {% endblock seo %}
        <title>{% block title %}Title{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" media="all" href="{{ asset('angular/bower_components/semantic/dist/semantic.min.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('angular/bower_components/font-awesome/css/font-awesome.min.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('angular/bower_components/magic/magic.min.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('angular/bower_components/flag-icon-css/css/flag-icon.min.css') }}"/>
            {% stylesheets output='assets/css/core.css'
            'bundles/damain/css/style.less'
            filter='less,cssrewrite,?yui_css' %}
            <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}"/>
            {% endstylesheets %}

        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    {% if app.debug %}
        {% set prefix = '/app_dev.php' %}
    {% else %}
        {% set prefix = '' %}
    {% endif %}
    <body class="{% block bodyClass %}{% endblock %}" data-prefix="{{ prefix }}" data-locale="{{ app.request.attributes.get('_locale') }}">

        {% block login %}{% endblock %}

        {% block header %}
            <header>
                <div class="container clear">
                    <div class="logo left_block">
                        <a href="{{ path('home_page') }}">
                            <img alt="Discover Aremnia" src="{{ asset('bundles/damain/images/company_logo.png') }}">
                        </a>
                    </div>
                    <div class="general_menu left_block">
                        <menu id="top_menu">
                            {{ knp_menu_render('DAMainBundle:Builder:generalMenu') }}
                        </menu>
                    </div>
                    <div class="right_block">
                        <div class="login_block">
                            <a href="#">
                                {{ 'login_registration'| trans({}, 'messages') }}
                            </a>
                        </div>
                        <div class="group_block clear">
                            <div class="currency_block">
                                {{ render(controller('DAMainBundle:Main:currency', { '_locale': app.request.attributes.get('_locale') })) }}
                            </div>
                            <div class="languages_block">
                                {% include 'DAMainBundle:Blocks:language.html.twig' %}
                            </div>
                            <div class="chart_block">
                                <a href="#">
                                    <span class="order_count">3</span>
                                    <img src="{{ asset('bundles/damain/images/chart.png') }}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            {% block menu %}{% endblock %}
        {% endblock %}

        {% block body %}

        {% endblock %}

        {% block footer %}
            <footer>
                <div class="top_block">
                    <div class="container">

                    </div>
                </div>
                <div class="bottom_block clear">
                    <div class="container">
                        <div class="logo left_block">
                            <a href="#">
                                <img src="{{ asset('bundles/damain/images/logo_f.png') }}" alt="Discover Armenia">
                            </a>
                            <br>
                            <sapn>{{ 'now' | date('Y') }} all rights reserved</sapn>
                        </div>
                        <div class="address_info left_block"></div>
                        <div class="social left_block"></div>
                        <div class="r_b_block right_block">
                            <a href="">
                                <img src="{{ asset('bundles/damain/images/r_b.jpg') }}" alt="R & B partners">
                            </a>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            <script>
                // Handle facebook callback
                if (window.location.hash && window.location.hash == '#_=_') {
                    // Check if the browser supports history.replaceState.
                    if (history.replaceState) {
                        var cleanHref = window.location.href.split('#')[0];
                        history.replaceState(null, null, cleanHref);
                    } else {
                        window.location.hash = '';
                    }

                }
            </script>
            <script src="{{ asset('angular/bower_components/lodash/dist/lodash.min.js') }}"></script>
            <script src="{{ asset('angular/bower_components/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('angular/bower_components/angular/angular.min.js') }}"></script>

            <script src="{{ asset('angular/bower_components/angular-route/angular-route.min.js') }}"></script>
            <script src="{{ asset('angular/bower_components/angular-resource/angular-resource.min.js') }}"></script>

            {% if app.debug %}
            <script src="{{ asset('angular/app/scripts/prefix/app_dev.js') }}"></script>
            {% else %}
            <script src="{{ asset('angular/app/scripts/prefix/app.js') }}"></script>
            {% endif %}
            <script src="{{ asset('bundles/damain/js/angular/app.js') }}"></script>
            <script src="{{ asset('angular/bower_components/angular-simple-logger/dist/angular-simple-logger.min.js') }}"></script>
            <script src="{{ asset('angular/bower_components/angular-google-maps/dist/angular-google-maps.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
