<div class="path_block">
    <div class="container">
        <span>{{ 'registration' | trans({}, 'messages') }}</span>
    </div>

</div>

<div class="registration">
    <div class="container">
        {#{% if is_granted('ROLE_USER') == false %}
            <h1>{{ 'login_title' | trans({}, 'messages') }}</h1>
            <div class="login_box clear">
                {% form_theme form with ['TravelMainBundle:Form:form_div_layout.html.twig'] %}
                <form class="form-inline clear" action="{{ path("fos_user_security_check") }}" method="post" role="form" autocomplete="off" novalidate="novalidate">
                    <div class="input_block clear">
                        <input type="text" required="required"  id="users" name="_username" placeholder="Account Name" >
                    </div>

                    <div class="input_block clear">
                        <input type="password" required="required" name="_password" id="password" placeholder="Password" >

                    </div>
                    {% if error is defined %}
                        <div class="error_login">
                            {{ 'login_error' | trans({}, 'messages') }}
                        </div>
                    {% endif %}
                    #}{#<div class="check_block clear">
                        <label for="remember_me">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                            {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                        </label>
                    </div>
                    <div class="forgot_block clear">
                        <a href="{{ path('fos_user_resetting_request') }}">{{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}</a>
                    </div>#}{#
                    <div class="submit_block">
                        <input type="submit"  value="{{ 'submit' | trans({}, 'messages') }}">
                    </div>

                </form>
            </div>
        {% endif %}#}
        <h1>{{ 'registration_title' | trans({}, 'messages') }}</h1>
        <div class="reg_box clear">
            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" novalidate="novalidate" class="fos_user_registration_register form-horizontal">

                <div class="input_block clear {{ form.username.vars['errors'] | length ? 'error': '' }}">
                    {{ form_widget(form.username, {'attr' : {'class':''}}) }}
                    {{ form_label(form.username) }}
                </div>
                <div class="input_block clear {{ form.email.vars['errors'] | length ? 'error': '' }} ">
                    {{ form_widget(form.email, {'attr' : {'class':''}}) }}
                    {{ form_label(form.email) }}
                </div>


                <div class="input_block clear {{ form.plainPassword.vars['valid']  ? '': 'error' }}">
                    {{ form_widget(form.plainPassword, {'attr' : {'placeholder': 'registration_title' | trans({}, 'messages') }}) }}
                </div>
                {{ form_widget(form._token) }}
                <div class="submit_block clear">
                    <input type="submit" value="{{ 'registration'|trans({}, 'messages') }}"  />
                </div>
            </form>

        </div>
    </div>
</div>